<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User: <%= user.name + " " + user.surname %> </title>
    <link rel="stylesheet" href="/user.css">
    <script src="/scripts.js"></script>

    <script>
        function forwardToEditUserPage() {
            window.location = <%= user.id %> + '/edit';
        }



    </script>
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/calculate">BMI</a>
                        <a href="/goals">Set Goals</a>
                    </div>
                </li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- User Information -->
<main>
<div>
    <!-- card div -->
    <div class="user-card">
        <ul class="flexbox">
            <% var userKeys = Object.keys(user); %>
            <img src="<%= user.picture %>" alt="User Picture" id="user-picture">

            <% for (var i = 0; i < userKeys.length; i++) { %>
                <% if (userKeys[i] !== "password" && userKeys[i] !== "id" ) { %>
                    <li class="aligner">
                        <% if (userKeys[i] === "picture"){ %>

                        <% } else { %>
                            <%= userKeys[i] %>: <b> <%= user[userKeys[i]] %> </b>
                        <% } %>
                    </li>
                <% } %>
            <% } %>
        </ul>


        <div class="button-container">
            <button type="submit" value="submit" onclick="forwardToEditUserPage()" class="edit">Edit</button>
            <form id="deleteUser" action="<%= user.id %>/delete" method="POST">
                <button type="submit" value="submit" class="delete">Delete</button>
            </form>
        </div>



    </div>
    </div>


<!-- Footer -->
</main>
</body>
</html>
