<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All exercises</title>
    <link rel="stylesheet" href="/user.css">


        <script>
            function forwardToEditExercisePage(id) {
            window.location = "/exercise/"+id + '/edit';
        }





    </script>
</head>
<body>
<!-- Navigation -->
<header>
    <nav>
        <div id="logo">
            <a href="/">MyGymBro</a>
        </div>

        <div id="nav-items">
            <ul>

                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li class="dropdown">
                    <a href="#">Services</a>
                    <div class="dropdown-content">
                        <a href="/makeExercise">Make Workout Plans</a>
                        <a href="/workoutPlans">Workout Plans</a>
                        <a href="/getUserCalories">Calories Chart</a>
                        <a href="/inputFood">Calculate Calories</a>
                        <a href="/calculate">BMI</a>
                        <a href="/goals">Set Goals</a>
                    </div>
                </li>
                <li><a href="/isloged">Profile</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- Main content -->
<main>
    <div class="container">
        <% if (exercises.length > 0) { %>
            <% exercises.forEach(exercise => { %>
                <!-- user-card div -->
                <div class="user-card">
                    <!-- image div -->
                    <div class="user-picture">
                        <img class="rounded-img" id="user-picture" alt="The exercise picture " src="<%= exercise.picture %>">
                    </div>
                    <ul class="flexbox">
                        <li class="aligner">
                            <div>Name:</div>
                            <b><%= exercise.name %></b>
                        </li>
                        <li class="aligner">
                            <div>Description:</div>
                            <b><%= exercise.description %></b>
                        </li>
                        <li class="aligner">
                            <div>Body-Part:</div>
                            <b><%= exercise.bodypart %></b>
                        </li>
                    </ul>

                    <div class="button-container">
                        <button type="submit" value="submit" onclick="forwardToEditExercisePage(<%= exercise.id %>)" class="edit">Edit</button>
                        <form id="deleteExercise" action="/exercise/<%= exercise.id %>/delete" method="POST">
                            <button type="submit" value="submit" class="delete">Delete</button>
                        </form>
                    </div>

                </div>
            <% }) %>
        <% } else { %>
            <div></div>
        <% } %>
    </div>
</main>

<!-- Footer -->
</body>
</html>
